<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Conn" value="Server=whyfi8888.ddns.net,11433;Uid=team1;Pwd=team1;Database=TEAM1"/>-->
    <add key="adminEmail" value="admin@gudi.co.kr"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>